<head>
  <title>Create</title>

  <style>
    .container {
      margin-top: 15px;
    }
    .error {
      margin-top: 0;
      margin-bottom: 10px;
      color: red;
    }
    .hide {
      height: 0px;
      visibility: hidden;
    }
  </style>
</head>

{% extends "base.html" %} {% block content %}

<form>
  <div class="container">
    <div class="row" id="success_row">
      <div class="col col-4"></div>
      <h4>
        <a id="new_entry"></a>
        <span id="success_message"></span>
      </h4>
    </div>

    <div class="form-group col-4">
      <label>Venue name</label>
      <input type="text" class="form-control" id="name" />
      <div class="error hide" id="name-error"></div>
    </div>

    <div class="form-group col-8">
      <label>image URL</label>
      <input type="text" id="img" class="form-control" placeholder="https://" />
      <div class="error hide" id="img-error"></div>
    </div>

    <div class="form-group col-8">
      <label>Description</label>
      <textarea
        rows="3"
        type="text"
        id="description"
        class="form-control"
      ></textarea>
      <div class="error hide" id="desc-error"></div>
    </div>

    <div class="form-group col-4">
      <label>Rating</label>
      <input
        type="text"
        id="rating"
        class="form-control"
        placeholder="please input number between 0~5"
      />
      <div class="error hide" id="rating-error"></div>
    </div>

    <div class="row pl-3 mb-0" id="review-row">
      <div class="form-group col-md-4 mb-0">
        <label>Review</label>
        <!-- <button type="button" id = "add" class="btn btn-sm btn-outline-info float-right">+</button> -->
        <input
          type="text"
          class="form-control"
          placeholder="user name"
          id="user1"
        />
        <textarea
          rows="6"
          type="text"
          class="form-control"
          placeholder="review"
          id="review1"
        ></textarea>
      </div>
    </div>
    <div class="ml-3 mt-0 error hide" id="review-error"></div>

    <div class="row">
      <div class="col col-3"></div>
      <button
        type="button"
        id="submit"
        class="btn btn-primary col col-md-5 btn-lg ml-5 mb-3 disabled"
      >
        Submit
      </button>
    </div>
  </div>
</form>

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'create.js')}}"
></script>

{% endblock %}
